html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body{
    background-color:black;
    color: white; 
    font-family: "Helvetica", sans-serif;
}

h2{
    color: white;
    width: fit-content;
    display: contents;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }

.nav{
    display: flex;
    justify-content: center; 
    width: 100%;
    padding: 30px 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    margin: 0 35px;
    color: white;
    font-weight: bold;
    opacity: 0.5;
    font-size: x-large;
}

.nav a:hover {
    color: white;
    opacity: 1;
    transition-duration: 0.8s;
}

#melodeez-logo{
    width: 80%;
    position: relative;
    left: 20px;
  }

#logo-melodeez{
    width: 20%;
    height: 20%;
    
}

.contenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

#description{
    display: center;
}

.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: black;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid white;
    opacity: 0.6;
    width: fit-content;
  }
  
  button:hover {
    color: black;
    outline: 2px solid white;
    box-shadow: 1px 1px 15px 4px white;
    opacity: 1;
  }
  
  button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  button:hover::before {
    width: 250%;
  }