html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}


body {
    background-color: black;
    color: white;
    font-family: "Helvetica", sans-serif;
}

h2{
    color: white;
    width: fit-content;
    display: contents;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/imagefondenvironnement.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
  }


/*NAV*/

.nav{
    display: flex;
    justify-content: center; 
    width: 100%;
    padding: 30px 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    margin: 0 35px;
    color: white;
    font-weight: bold;
    opacity: 0.5;
    font-size: x-large;
}

.nav a:hover {
    color: white;
    opacity: 1;
    transition-duration: 0.8s;
}

#melodeez-logo{
    width: 80%;
    position: relative;
    left: 20px;
  }

#page-actuelle{
    color: #fff;
    opacity: 1;
  }

#EN{
    opacity: 0.5;
}


/*CONTENU*/

.ancre{
    display: center;
    margin-left: 43%;
    margin-top: 40px;
    position: relative;
}

#ancre-social{
    position: relative;
    right: 4%;
    display: inline-block;
    vertical-align: top;
    color:white;
    transition: color 0.3s;
}

#ancre-écologie{
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-left: 6px solid white;
    padding-left: 37px;
    color: white;
    margin-right: 15px;
    transition: color 0.3s;
}

#ancre-social:hover{
    color: rgb(170, 114, 12);
}

#ancre-écologie:hover{
    color: rgb(170, 114, 12);
}

#description{
    display: center;
}

.btn{
    background-color: rgb(170, 114, 12);
    display: center;
    width: 150px;
    height: 35px;
    padding: 5px 5px;
    /* border: 1px solid black; */
    border-radius: 5px;
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.1);
}

a[href]{
    color: white;
    padding: 10px;
}

a[href]:hover{
    color: white;
}

.titre-colonne{
    color: #000000;
}

.texte-colonne{
    width: 500px;
    text-align: justify;
    padding-left: 85px;
}

.colonne-gauche, .colonne-droite {
    width: 48%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.colonne-gauche {
    background-color: white;
    color: #000000;
    display: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

.colonne-droite {
    background-color: white;
    color: #000000;
    display: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

/* FOOTER*/

footer{
    position: relative;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
   flex-wrap: wrap; 
}

footer .social_icon a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon a:hover{
    transform: translateY(-10px)
}

footer p{
    color:#fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.facebook{
    width: 37px;
    height: 37px;
}

.twitter{
    width: 35px;
    height: 35px;
}

.instagram{
    width: 33px;
    height: 33px;
}

.linkedin{
    width: 27px;
    height: 27px;
}